* {
    font-weight: 400;
    color: hsl(24, 5%, 18%);
  }
  
  strong{
    font-weight: bold;
  }

  body {
    font-family: "Young Serif", serif;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
    margin: 0; /* Remove margens padrão */
    flex-direction: column;
    padding: 0; /* Remove preenchimento padrão */
  }
  
  .container h1 {
    color: hsl(24, 5%, 18%);
    text-align: left; /* Alinha o texto à esquerda */
    font-size: 30px;
    letter-spacing: 2px;
  }
  
  .container {
    font-size: 15px;
    background-color: white;
    max-width: 775px;
    margin: 100px 0 100px;  /* Remove margens padrão */
    border-radius: 14px;
    padding: 20px; /* Adiciona preenchimento interno */
    line-height: 2;
  }
  
  .container img {
    background-color: white;
    margin-top: 50px; 
    border-radius: 14px;
    max-width: 100%; /* Ajusta a largura da imagem para preencher o container */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  .preparation{
    font-family: "Outfit", sans-serif;
    font-size: 17px;
    background-color: hsl(330, 100%, 98%) ;

  }

  .preparation h3{
    color: hsl(332, 51%, 32%);
    font-size: 20px;
    margin-left: 20px;
  }

  .preparation ul{
    list-style: none;

  }

   .preparation ul li:before {
    content: '\2022';
    font-size: 25px;
    line-height: 1.5;
    display: inline-block; /* Garante que o marcador seja exibido em linha com o texto */
    width: 1em; /* Define a largura do marcador para uma unidade de espaço */
    margin-right: 0.5em; 
    vertical-align: middle;
    color: hsl(332, 51%, 32%)/* cor da bolinha */
   }

    .container .custom-list li::marker {
  color: hsl(14, 45%, 36%);
  }

  li{
    font-family: "Outfit", sans-serif;
  }

  .container .order-list li::marker {
    color: hsl(14, 45%, 36%);
    }

    p{
        font-family: "Outfit", sans-serif;
    }

   h2{
    color: hsl(14, 45%, 36%);
   }

   hr{
    opacity: 0.5;
   }

   table {
    border-spacing: 0 10px;
    font-family: "Outfit", sans-serif;
    width: 100%;
    border-collapse: collapse;
  }
  
  .th-content {
    padding-right: 215px; /* Ajuste o valor conforme necessário */
    padding-top: 10px; /* Adiciona espaço acima */
    padding-bottom: 10px; /* Adiciona espaço abaixo */
    width: 100px;/* Adicione o padding apenas nos cabeçalhos */
  }
  
  tr {
    border-bottom: 1px solid #ccc;
  }
  
  .td-content{
    font-weight: bold;
    color: hsl(14, 45%, 36%)
  }

  .attribution{
    text-align: center;
  }

